body {
	background-color: #EEEEEE;

}

div#right > p {

	color: gray;
}

h1 { 
	padding-top: 20px;
	color: #009688; 
}

h1, p {
	text-align: center;
}

 div#left { 
 	border-right: 1px solid black;
 	height: 100%; 
 	background-color: darkorange; 
 }

.col-4 {
	border: 10px solid #EEEEEE;
	background-color: wheat;
}